@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



*{
    margin: 0px;
    padding: 0px;
}
h2{
    font-family: "Cabin", sans-serif;
}

header nav{
    display: flex;
    justify-content: space-between;
    font-family: "PT Sans", sans-serif;
    align-items: center;
    width: 100%;
    margin-top: 2%;
}


header nav img{
    width: 10%;
    margin-left: 5%;
}
header nav ul{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
header nav ul li{
    list-style: none;
    text-decoration: none;
    width: 50%;
    
}
header nav ul li .btn-outline-primary{
    font-size: 1vw;
}

main .breve-descripcion-arriba{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}
main .breve-descripcion-arriba h2{
    font-size: 3vw;
}
main .breve-descripcion-arriba p{
    font-size: 1.2vw;
}
main .breve-descripcion-arriba img{
    width: 10%;
    margin-top: 5%;
}

main .section-carrusel{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}





.img-card{
    width: 30%;
}
main section .card
{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%
}


main .cartas-proyectos{
    margin-top: 9%;
}
main .cartas-proyectos .row .card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.carousel div div img{
    border-radius: 5px;
}
.carousel-testimonio div div img{
    border-radius: 50%;
}


.div-carrousel{
    margin-top: 5%;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 40%;
}

main .cartas-proyectos .card .width-img{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .cartas-proyectos div div div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.testimonio div img{
    width: 40%;
    border-radius: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.container.text-center.slide-testimonio{
    width: 90%;
}
.conjunto-testimonios div{
    width: 90%;
}
.conjunto-testimonios div div{
   width: 60%;
}
.testimonio{
    width: 15rem;
}
.testimonio div{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.conjunto-testimonios div div div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.slide-testimonio{
    display: flex;
    justify-content: center;
}


.carousel-testimonio{
    margin-top: 13%;
    margin-bottom: 10%;
}

.cartas-proyectos h1{
    font-size: 4vw;
    margin-bottom: 4%;
}


footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-color: #0a53be;
}
footer a{
    margin: 2%;
}